# Merge The Two MetaData :

In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv('UrbanSound8K.csv',usecols=['slice_file_name','class_name','fold'])
#df2=pd.read_csv('FSDKaggle.csv',usecols={'fname': 'slice_file_name', 'label': 'class_name'})
df2=pd.read_csv('FSDKaggle.csv',usecols=['fname','label'])

In [3]:
df1.head()

      slice_file_name  fold        class_name
0    100032-3-0-0.wav     5          dog_bark
1  100263-2-0-117.wav     5  children_playing
2  100263-2-0-121.wav     5  children_playing
3  100263-2-0-126.wav     5  children_playing
4  100263-2-0-137.wav     5  children_playing

In [4]:
df2.head()

          fname         label
0  00044347.wav        Hi-hat
1  001ca53d.wav     Saxophone
2  002d256b.wav       Trumpet
3  0033e230.wav  Glockenspiel
4  00353774.wav         Cello

In [5]:
df2['fold']=11

In [6]:
df2.head()

          fname         label  fold
0  00044347.wav        Hi-hat    11
1  001ca53d.wav     Saxophone    11
2  002d256b.wav       Trumpet    11
3  0033e230.wav  Glockenspiel    11
4  00353774.wav         Cello    11

In [7]:
df2.rename(columns={'fname': 'slice_file_name', 'label': 'class_name'},inplace=True)

In [8]:
df2.head(5)

  slice_file_name    class_name  fold
0    00044347.wav        Hi-hat    11
1    001ca53d.wav     Saxophone    11
2    002d256b.wav       Trumpet    11
3    0033e230.wav  Glockenspiel    11
4    00353774.wav         Cello    11

In [9]:
df=df1.append(df2, ignore_index=True, sort=False)

In [10]:
df.head()

      slice_file_name  fold        class_name
0    100032-3-0-0.wav     5          dog_bark
1  100263-2-0-117.wav     5  children_playing
2  100263-2-0-121.wav     5  children_playing
3  100263-2-0-126.wav     5  children_playing
4  100263-2-0-137.wav     5  children_playing

In [11]:
df.tail()

      slice_file_name  fold class_name
18200    ffec59fb.wav    11  Fireworks
18201    fff37590.wav    11     Hi-hat
18202    fff44ac6.wav    11   Laughter
18203    fff6a13d.wav    11      Chime
18204    fff81f55.wav    11      Cough

In [12]:
df.shape

(18205, 3)

In [13]:
option=['Shatter','Flute','Fart','Trumpet','Acoustic_guitar','Cello','Squeak','Snare_drum','Hi-hat'
        ,'Double_bass','Clarinet','Saxophone','Bass_drum','Violin_or_fiddle' ,'Oboe','Gong','Knock'   
        ,'Writing','Tambourine' ,'Burping_or_eructation' ,'Cowbell' ,'Harmonica' ,'Drawer_open_or_close' 
        ,'Meow'   ,'Electric_piano', 'Gunshot_or_gunfire'  ,'Finger_snapping','Chime','Glockenspiel','Bark'  ]

In [14]:
df = df[~df.class_name.isin(option)]

In [15]:
print(df.class_name.value_counts())

children_playing     1000
jackhammer           1000
street_music         1000
engine_idling        1000
dog_bark             1000
air_conditioner      1000
drilling             1000
siren                 929
car_horn              429
gun_shot              374
Tearing               300
Fireworks             300
Applause              300
Laughter              300
Cough                 243
Microwave_oven        146
Keys_jangling         139
Telephone             120
Computer_keyboard     119
Bus                   109
Scissors               95
Name: class_name, dtype: int64

In [16]:
df.to_csv('Merge_Metadata.csv')